
@page "/ParentComponent"
    <ul>
    @foreach (var cBoxItem in uIClient.cboxs)
    {
        <myComponent bind-myVar="@cBoxItem"></myComponent>
    }
    </ul>
    <input placeholder="Something todo" />
    <button onclick=@ButtonClicked>Add todo</button>
    





@code {
    [Parameter]
    public Models.UIClient uIClient { get; set; }

    private string Message { get; set; } = "";
    void ButtonClicked(UIMouseEventArgs e)
        {
            Message = "Button Clicked";
        }

}





