
@page "/ParentComponent"
    <ul>
    @foreach (var cBoxItem in uIClient.cboxs)
    {
        <myComponent bind-myVar="@cBoxItem"></myComponent>
    }
    </ul>
    <EditForm Model="@currentUIuser" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <InputText id="name" @bind-Value="currentUIuser.firstName" />

    <button type="submit">Submit</button>
</EditForm>


    <input placeholder="Something todo" />
    <button @onclick="OnClickAdd">Add chore</button>
    





@code {
    [Parameter]
    public Models.UIClient uIClient { get; set; }


    private Models.UIClient currentUIuser = new Models.UIClient(1);

    private void HandleValidSubmit()
    {
        
    }
    public EventCallback<MouseEventArgs> OnClickAdd { get; set; }

}





